<footer class="footer-wrapper footer-layout1 overflow-hidden">    
    <div class="container">
        <div class="footer-top">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-auto">
                    <div class="footer-logo mb-40 mb-sm-0">
                        <a href="#"><img src="{{ asset('assets/img/logo-white.svg') }}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="social-btn style2">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-area">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Contact Info</h3>
                        <ul class="contact-info-list">
                            <li>Reception: + 99 76 486 856</li>
                            <li>E-mail: Artvista@wedding.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Subscribe Now</h3>
                        <form class="newsletter-form">
                            <input class="form-control" type="email" placeholder="Email Address">
                            <button type="submit" class="btn mt-3">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap text-center">
        <p class="copyright-text text-white">© {{ "now"|date("Y") }} Artvista. All Rights Reserved.</p>
    </div>
</footer>